{% load static %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- Custom styles for this template -->
<link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
<style>
    .jumbotron{
      width: 100%;
      height: 500px;
      background: url("/static/img/fashion.jpg") 100% no-repeat ;
      background-size: 100% 100%;
    }
    .content{
      widows: 100%;;
    }
    .card{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .card-img-top {
      height: 200px;
    }
    a.pull-right{
      float: right;
    }
   
</style>