{% load static %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- Custom styles for this template -->
<link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
<style>
    body{
      padding-top: 0px;
    }
    .top-alert-message{
      margin-bottom: 0px;
      border-radius: 0px;
      text-align: center;
    }
    .top-alert-message h4{
      margin:0px auto;
    }
    .slider img{
      height: 550px;
    }
    .content{
      widows: 100%;;
    }
    .card{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .card-img-top {
      height: 200px;
    }
    a.pull-right{
      float: right;
    }
    .background-thumb{
      background: url("/static/img/empty.png") 100% no-repeat ;
    }
   
</style>