{% extends 'base/base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-4">
    {% for img in images %}
    {% if img.featured %}
    <div class="col-xs-12 col-sm-6">
      <img class="img-thumbnail" src="{{ img.image.url }}" alt="single image">
    </div>
    {% endif %}
    {% endfor %}
    <br>
    <br>

    {% for img in images %}
    {% if not img.featured %}
    <div class="col-xs-6 col-sm-3>
        <a href=" #">
      <img class="img-thumbnail" src="{{ img.image.url }}" alt="thumbnail-img">
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="col-sm-8">
    <div class="page-header">
      <div class="col-sm-8 float-left">
        <h1>{{ product.title }} </h1>
      </div>
      <div class="col-sm-4 float-right">
        <form action="{% url 'add_to_cart' product.slug %}" method="POST" class="form float-right">
          {% csrf_token %}
          <input type="submit" value="Add To Cart" class="btn btn-info btn-block">
          <input type="number" name="qty" value='1' class="form-control">

          <!-- Size -->
          {% if product.variation_set.all %}

          {% if product.variation_set.sizes %}
          <select name="size" id="" class="form-control">
            {% for item in product.variation_set.sizes %}
            <option value="{{ item.title|lower }}">{{ item.title|capfirst }}</option>
            {% endfor %}
          </select>
          {% endif %}

          {% if product.variation_set.colors %}
          <select name="color" id="" class="form-control">
            {% for item in product.variation_set.colors %}
            <option value="{{ item.title|lower }}">{{ item.title|capfirst }}</option>
            {% endfor %}
          </select>
          {% endif %}

          {% endif %}
        </form>
      </div>
    </div>
    <div>
      <p>price: {{ product.price }}.Tk <br>
        Shpping: Free with tk 50+ purchase. </p>
    </div>

    <div>
      {{ product.description | linebreaks }}
    </div>
  </div>
</div>

{% endblock %}