{% extends 'base/base.html' %}

{% block content %}
<div class="col-sm-8 offset-sm-2">
    <table class="table">
        <thead>
            <th>Item</th>
            <th>Price</th>
            <th></th>
        </thead>
        {% for item in carts.products.all %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ item.price }}</td>
            <td><a href='{% url "update" item.slug %}'>remove</a></td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Total: {{ carts.total }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}